# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs2012 project temp files
*.opensdf
*.pdb
*.sdf
*.suo

# ignored directorys
# difference between * and **
# *  matches all files in the directory but does not match any files in its subdirectories.
# ** matches all files in the directory and in its sub-directories.

Debug/*
*/Debug/*

Release/*
*/Release/*

